.footer {
    border-top: 1px solid var(--brownColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    span{
        font-size: 14px;
        font-weight: bold;
        color: var(--dark);
        a {
            color: #312f36;
            transition: .4s ease-in-out;
        }:hover {
            color: #79624e;
        }
    }
}
